
body{
  background-color: #0a3863;
	background-repeat:  no-repeat;
  background-size: 100%;
  background-position: top, bottom;
  font-size: 18px;
  color:white;
}

h1,h2,h3,h4,h5{
  color:white;
}

input,select{
  color:black;
}

/**************************************
CHANGES TO THE HEADER
**************************************/
.navbar-brand{
  width:160px;
}
.navbar-brand img{
  position:absolute;
  top:5px;
  height:40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-header{
  background:none;
  }
.navbar-inverse{
  background: rgba(6, 34, 58, 0.8);
  border:none;
  border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    background: linear-gradient(rgba(22, 12, 71,1), rgba(19, 9, 66, 1));
}
.navbar-inverse .navbar-nav > .active > a{
    background: linear-gradient(rgba(22, 12, 71,0.5), rgba(19, 9, 66, 0.5));
}
.navbar {margin-bottom: 0px;}

/**************************************
GENERAL CSS
**************************************/
.content{
margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 769px) {
.container{
  margin:0px;
  padding:0px;
  width:100%;
}
}
h1,
.text-muted{
  text-align: center;
}

label{
  color:white;
}



/**************************************
STICKY FOOTER
**************************************/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.bot_toggler{
  position:fixed;
  bottom:0px;
  width:100%;
  background:#0f5a8a;
  color:white;
  box-sizing: border-box;
  display:inline-block;
  font-size:0;
  border-top:1px solid rgba(0,0,0,0.2);
}

.bot_toggler .active_tab,
.bot_toggler a{
  background:transparent;
  border:0px;
  width:50%;
  display: inline-block;
  margin: 0px;
  height:50px;
  box-sizing: border-box;
  font-size:12pt;
  max-width:50%;
  text-align: center;
  padding:15px;
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.bot_toggler .active_tab{
  background: rgb(79, 179, 234);
  text-decoration: underline;
}

@media only screen and (min-width: 769px) {
  .bot_toggler{display: none;}
}
