#scoreboard .listitem{
  width:100%;
  margin:0px;
}

#scoreboard .listitem div{
  display: inline-block;
}

#scoreboard .listheading .order{
  display: none;
}

@media only screen and (max-width: 769px) {
  #scoreboard  .order{
    left:5px;
    top:0px;
    display:inline-block;
    position:relative;
  }
}

.global .tinylist{
  text-align: center;
  background: rgb(115, 187, 225);
  padding:10px;
  height:auto;
}

.score{
  position:absolute;
  right:10px;
  font-size: 18pt;
  top:calc(50% - 10px);
}

.global .listitem div{
  max-width: 100%;
}
