
.partylist{display:flex;}
.partylist .order{width:25px;  font-size:14pt;}
.partylist .country{
  width:200px;
  font-size:14pt;
  text-align: center;
}
.partylist img{
  width: 25px;
  vertical-align: top;
}
.emptyspace{flex:1;}

.partylist .artist, .partylist .title{
  font-size: 14pt;
}




.bottomlist{
  background: rgb(92, 54, 116);
}
.bottomlist:nth-of-type(2n){
	background: rgb(92, 54, 116);
}

.toplist{
  background: rgb(1, 117, 131);
}
.toplist:nth-of-type(2n){
	background: rgb(1, 117, 131);
}

.listheading{
  background: rgba(0, 0, 0, 0.5);
  color:#bed3e5;
  font-weight: bold;
}

.memberlist{
font-size: 22px;
text-align: center;
}

h1.listheading{
  margin-bottom:0px;
  padding:5px;
}

h3.listheading{
  margin-bottom:0px;
  margin-top:0px;
  padding:5px;
  font-weight: normal;
  text-align: center;
}

.skip_warning {
  background-color: #74405f !important;
}





.separator{display:none;}


.votebutton{
  width: 50px;
  height: 50px;
  padding: 2px;
  font-size: 16px;
  border-radius: 50%;
  background: rgba(13, 39, 66, 0.5);
  color:#cee7ef;
  text-decoration: none;
  box-sizing: border-box;
}

.votebutton:hover{
  background: rgba(226, 213, 208, 0.5);
}

.tinylist{
  height:30px;
  margin:0px;
  padding:0px;
}

.tinylist div{
  margin:0px;
  padding:0px;
  font-size: 14pt;
}


@media only screen and (max-width: 769px) {
  /**************************************
  LIST PRESENTATION
  **************************************/


  .users{
    display:none;}

  .score{
    width:calc(25% - 5px);
    text-align: center;
  }

  .separator{display:none;}

  .votebutton{
    top:2px;
    right:2px;
    position:absolute;
  }
}



/**************************************
VOTING PAGE PRESENTATION
**************************************/

#songinformation,#votingbox {
  width:100%;
  padding:10px;
  box-sizing: border-box;
  height:auto;
  position:relative;
  margin-bottom:10px;
}
#songinformation img{
  width:25px;
  margin-top: -5px;
}
#songinformation{
  background: #0f5a8a;
  color:white;
}

#votingbox{
  background: #0f5a8a;
  text-align: center;
}

#votingbox h2, .bonuspoints h3,.minuspoints h3{
  margin-top:3px;
  text-align: center;
}

.bonuspoints,.minuspoints,.givepoints{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  height:auto;
  position:relative;
  margin-top:10px;
  padding-bottom:5px;
}

.bonuspoints{background: rgb(131, 207, 154);}
.minuspoints{background: rgb(245, 135, 122);}
.givepoints{background: rgb(79, 179, 234);}

.submitbutton{
  margin-top:10px;
  width:100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius:5px;
  box-sizing: border-box;
  padding: 5px;
  color:white;
  border:0px;
}

.submitbutton:hover{
  background: rgba(0, 0, 0, 0.6);
}
.votingitem{
  margin-top:10px;
  width:100px;
  box-sizing:border-box;
  text-align: center;
  display:inline-block;
  margin-left: 1%;
  margin-right: 1%;
}

.votingitem img{
    opacity: 0.7;
    width:70px;
    margin-left: auto;
    margin-right: auto;
}
/**************************************
VOTING FORM OPTIONS
**************************************/

.votingitems{
  display:inline-block;
}

.flexyflex{
  display:flex;
  flex-direction: column;
}
.listitem .itemitem{
  max-width: 100%;
  width:100%:
}

.listitem .barcontainer{
  max-width: 100%;
  width:100%;
  position: relative;
}

.itemitem span{
  width:10px;
  height:20px;
}

.bar{
  margin:2px;
  background:rgba(0,0,0,0.5);
  height:10px;
  right:0;
  top:7px;
  position: absolute;
}

.listitem .downtext{
  margin-top:5px;
  font-size:10pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.frontpage{
  text-align: center;

}

.frontpage img{
  margin-left: auto;
  margin-right: auto;
  width:400px;
}


@media only screen and (max-width: 769px) {
  .frontpage img{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    max-width: 400px;
  }
}

.btn-success,.btn-success:hover{
  background-color:rgb(216, 75, 200);
  border-color:rgb(216, 75, 250);
}

.btn-success:hover{
  opacity:0.4;
}

.helptext, label{
  display:block;
}

.helptext{
  font-size: 12pt;
  width:220px;
  margin-left: auto;
  margin-right: auto;
}

#btnbtn{width:200px;}
#btnbtn{margin:10px;}
.regform{text-align: center;}
.midpic{
  width:100%;
  position:absolute;
  text-align: center;
  box-sizing: border-box;
}

.midpic img{
  margin-top:20vh;
  height: auto;
  width:auto;
  max-width: 100%;
  box-sizing: border-box;
}

.hater{color:#66061b;}
.lover{color:#016301}

hidden {display: none;}
