<div class="votingitems">
    {{ title }}</br>
    <select name="{{ name }}">
        {% for score in bonus_scores %}
            {% if score == '---' %}
            <option disabled>{{ score }}</option>
            {% else %}
                {% if value == score %}
                    <option value="{{ score }}" selected="selected">{{ score }}</option>
                {% elif value == '' and score == 0 %}
                    <option value="{{ score }}" selected="selected">{{ score }}</option>
                {% else %}
                    <option value="{{ score }}">{{ score }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
</div>
