{% load static %}

{% for song in songs %}
{% if song.has_votes %}
<div class="listitem">
      <div class="intro">
        <div class="order">{{ forloop.counter }}</div>
        <div class="country"><img src="{% static 'images/flags/'|add:song.country|add:'.png' %}" style="width: 20px"> {{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>


        <div class="score">{{song.score}}</div>
      </div>
</div>
<div class="tinylist listitem">
  <div class="users">
      <div class="hater"><i class="material-icons">thumb_down</i> {{ song.lowest_name }}{{average}} ({{ song.lowest_score }})</div> -
      <div class="lover">{{ song.highest_name }}{{average}} ({{ song.highest_score }}) <i class="material-icons">thumb_up</i> </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% for party in parties %}



<h1 class="listheading">{{ party.name }}</h1>
<div class="listitem memberlist">
  {% for user in party.members %}
    {{user.username}}
    {% if not forloop.last %}
    ,
    {% endif%}
  {% endfor%}
</div>

<h3 class="listheading">Top 3 songs</h1>
{% for song in party.top_songs %}
<div class="listitem toplist">
      <div class="intro">
        <div class="order">{{ song.place }}</div>
        <div class="country"><img src="{% static 'images/flags/'|add:song.country|add:'.png' %}" style="width: 20px"> {{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
        <div class="score">{{song.score}}</div>
      </div>
</div>
<div class="tinylist listitem">
  <div class="users">
      <div class="hater"><i class="material-icons">thumb_down</i> {{ song.lowest_name }}{{average}} ({{ song.lowest_score }})</div> -
      <div class="lover">{{ song.highest_name }}{{average}} ({{ song.highest_score }}) <i class="material-icons">thumb_up</i> </div>
  </div>
</div>
{% endfor %}

<h3 class="listheading"> Bottom 3 songs</h1>
{% for song in party.bottom_songs %}
<div class="listitem bottomlist">
      <div class="intro">
        <div class="order">{{ song.place }}</div>
        <div class="country"><img src="{% static 'images/flags/'|add:song.country|add:'.png' %}" style="width: 20px"> {{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
        <div class="score">{{song.score}}</div>
      </div>
</div>
<div class="tinylist listitem">
  <div class="users">
      <div class="hater"><i class="material-icons">thumb_down</i> {{ song.lowest_name }}{{average}} ({{ song.lowest_score }})</div> -
      <div class="lover">{{ song.highest_name }}{{average}} ({{ song.highest_score }}) <i class="material-icons">thumb_up</i> </div>
  </div>
</div>
{% endfor %}
{% endfor %}
