{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.party %}
        <div class="midpic"><img src="{% static 'images/party.png' %}" ></div>

    {% else %}
        <div class="frontpage container content">
            Select your party:
        <form action="{% url 'join_party' %}" method="post">
            {% csrf_token %}
            <select name="party">
                {% for party in parties %}
                    <option value="{{ party.id }}">{{ party.name }}</option>
                {% endfor %}
            </select><br>
            Password: </br>
            <input type="text" name="password"><br>
            <input type="submit" value="Join!" class="btn-lg btn-success" id="btnbtn">
        </form>
        <img src="{% static 'images/welcome.png' %}" >
    {% endif %}
{% else %}
    <div class="frontpage container content ">
    <h1>Welcome to</h1>
    <img src="{% static 'images/logo.png' %}" width="100%">
    <h1>2019</h1>
  </br>
        <p>
            <a href="{% url 'login' %}" class="btn-lg btn-success">Login</a> <a href="{% url 'registration' %}" class="btn-lg btn-success">Register</a>
        </p>
          <img src="{% static 'images/verka.png' %}" >
{% endif %}
    </div>
{% endblock %}
