{% load static %}

<div class="partylist listheading listitem">
        <div class="country">Country</div>
        <div class="artist">Artist</div>
        <div class="separator"> - </div>
        <div class="party_title">Title</div>
        <div class="emptyspace"></div>
        <div class="party_score">Total score</div>
</div>
{% for song in songs %}
{% if song.has_votes %}
<div class="partylist listitem">
        <div class="order">{{ forloop.counter }}</div>
        <div class="country"><img src="{% static 'images/flags/'|add:song.country|add:'.png' %}"> {{song.country}}</div>
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
        <div class="emptyspace"></div>
        <div class="_scorescore">{{song.score}}</div>
</div>
<div class="listitem flexyflex">
{% for voter, score, real_score in song.voters %}
    <div class="itemitem">
        <div style="min-height:15px;">
          <div class="bar" style="height:calc(40px * {{ score }} / 100 );"></div>
          <span>{{ real_score }}</span>
          <div class="downtext">{{ voter|slice:"6" }}</div>
        </div>

    </div>
{% endfor %}
</div>
{% endif %}
{% endfor %}
