{% load static %}

{% for song in songs %}
<div class="listitem">

      <div class="intro">
        <div class="order">{{song.order}}</div>
        <div class="country"><img src="{% static 'images/flags/'|add:song.country|add:'.png' %}" > {{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
      </div>
      <div class="score">{{song.score}}</div>
</div>
{% endfor %}
