{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1>SONGS</h1>
    {% for song in songs %}
    <a name="song_{{ song.id }}"></a>
    <div class="listitem{% if song.warning %} skip_warning{% endif %}" onclick="location.href='{% url 'vote' song.id %}'">
      <div class="intro">
        <div class="order">{{song.order}}</div>
        <div class="country">{{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
      </div>
      <!--<button class="votebutton" onclick="location.href='{% url 'vote' song.id %}'">Vote</button>-->
      {% if song.vote and not user.easy_mode %}
      <div class="hasvotes">
        <div class="tinyitems"><img src="{% static 'images/show.png' %}" >{{song.vote.show}}</div>
        <div class="tinyitems"><img src="{% static 'images/lights.png' %}" >{{song.vote.lightshow}} </div>
        <div class="tinyitems"><img src="{% static 'images/costume.png' %}" >{{song.vote.outfit}}</div>
        <div class="tinyitems"><img src="{% static 'images/dress.png' %}" >{{song.vote.dress}}</div>
        <div class="tinyitems"><img src="{% static 'images/melody.png' %}" >{{song.vote.melody}}</div>
        <div class="tinyitems"><img src="{% static 'images/voice.png' %}" >{{song.vote.voice}}</div>
        <div class="tinyitems"><img src="{% static 'images/eurof.png' %}" >{{song.vote.esc_factor}}</div>
        <div class="tinyitems"><img src="{% static 'images/sexy.png' %}" >{{song.vote.sexyness}}</div>
        <div class="tinyitems"><img src="{% static 'images/mod.png' %}" >{{song.vote.modulation}}</div>
        <div class="tinyitems"><img src="{% static 'images/mod.png' %}" >{{song.vote.artbreak}}</div>
        <div class="tinyitems"><img src="{% static 'images/cchange.png' %}" >{{song.vote.dress_change}}</div>
        <div class="tinyitems"><img src="{% static 'images/language.png' %}" >{{song.vote.language}}</div>
        <div class="tinyitems"><img src="{% static 'images/klyse.png' %}" >{{song.vote.douchebag}}</div>
        <div class="tinyitems"><img src="{% static 'images/plag.png' %}" >{{song.vote.plagiarism}}</div>
        <div class="tinyitems">Total<br/>{{song.total}}</div>
      </div>
      {% endif %}

    </div>


    {% endfor %}
</div>
{% endblock %}
