{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>SONGS</h1>
    {% for song in songs %}
    <div class="listitem">
      <div class="intro">
        <div class="order">{{song.order}}</div>
        <div class="country">{{song.country}}</div>
      </div>
      <div class="info">
        <div class="artist">{{song.artist}}</div>
        <div class="separator"> - </div>
        <div class="title">{{song.title}}</div>
      </div>
      <button class="votebutton" onclick="location.href='{% url 'vote' song.id %}'">Vote</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
