{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


  <div id="songinformation">
    <div class="container">
      <p>
        <strong>{{song.order}}</strong>. <strong>{{song.country}}</strong> <img src="{% static 'images/flags/'|add:song.country|add:'.png' %}" ><br/>
        {{song.artist}} - {{song.title}}<br/>
      </p>
    </div>

  </div>
<div class="container">
  <div id="votingbox">
      <form action="" method="post">
          {% csrf_token %}
          <h2>Give points</h2>
          <div class="givepoints">

            <div class="votingitem">
              <img src="{% static 'images/show.png' %}" >
              {% include 'score_selector.html' with name='show' title='Show' value=vote.show %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/lights.png' %}" >
              {% include 'score_selector.html' with name='lightshow' title='Lightshow' value=vote.lightshow %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/costume.png' %}" >
              {% include 'score_selector.html' with name='outfit' title='Costumes' value=vote.outfit %}
            </div>

            <div class="votingitem">
              <img src="{% static 'images/dress.png' %}" >
              {% include 'score_selector.html' with name='dress' title='Dressbeauty' value=vote.dress %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/melody.png' %}" >
              {% include 'score_selector.html' with name='melody' title='Melody' value=vote.melody %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/voice.png' %}" >
              {% include 'score_selector.html' with name='voice' title='Voice' value=vote.voice %}
            </div>

            <div class="votingitem">
              <img src="{% static 'images/eurof.png' %}" >
              {% include 'score_selector.html' with name='esc_factor' title='ESC Factor, Catchyness' value=vote.esc_factor %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/sexy.png' %}" >
              {% include 'score_selector.html' with name='sexyness' title='Sexyness' value=vote.sexyness %}
            </div>
          </div>

          <div class="bonuspoints">
            <h3>Bonus Points</h3>
            <div class="votingitem">
              <img src="{% static 'images/mod.png' %}" >
              {% include 'bonuspoint_selector.html' with name='modulation' title='Modulation, Key Change' value=vote.modulation %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/mod.png' %}" >
              {% include 'bonuspoint_selector.html' with name='artbreak' title='Artistic Break' value=vote.artbreak %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/cchange.png' %}" >
              {% include 'bonuspoint_selector.html' with name='dress_change' title='Costume change' value=vote.dress_change %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/language.png' %}" >
              {% include 'bonuspoint_selector.html' with name='language' title='Language Lyrics' value=vote.language %}
            </div>
          </div>

          <div class="minuspoints">
            <h3>Minus Points</h3>
            <div class="votingitem">
              <img src="{% static 'images/klyse.png' %}" >
              {% include 'minuspoint_selector.html' with name='douchebag' title='Ickyness' value=vote.douchebag %}
            </div>
            <div class="votingitem">
              <img src="{% static 'images/plag.png' %}" >
              {% include 'minuspoint_selector.html' with name='plagiarism' title='Copycat' value=vote.plagiarism %}
            </div>
          </div>
          <button type="submit" class="submitbutton">Vote!</button>
      </form>
  </div>
</div>
{% endblock %}
