{% extends 'base.html' %}
{% block content %}


  <div id="songinformation">
    <div class="container">
      <p>
        <strong>{{song.order}}</strong>. <strong>{{song.country}}</strong><br/>
        {{song.artist}} - {{song.title}}<br/>
      </p>
    </div>

  </div>
<div class="container">
  <div id="votingbox">
      <form action="" method="post">
          {% csrf_token %}
          <h2>Give points</h2>
          <div class="givepoints">
            {% include 'score_selector.html' with name='show' title='Show' %}
            {% include 'score_selector.html' with name='lightshow' title='Lightshow' %}
            {% include 'score_selector.html' with name='outfit' title='Costumes' %}
            {% include 'score_selector.html' with name='dress' title='Dress Beauty' %}
            {% include 'score_selector.html' with name='melody' title='Melody' %}
            {% include 'score_selector.html' with name='voice' title='Voice' %}
            {% include 'score_selector.html' with name='esc_factor' title='ESC Factor' %}
            {% include 'score_selector.html' with name='sexyness' title='Sexyness' %}
          </div>
          <div class="bonuspoints">
            <h3>Bonus Points</h3>
            {% include 'bonuspoint_selector.html' with name='modulation' title='Modulation' %}
            {% include 'bonuspoint_selector.html' with name='dress_change' title='Dress change' %}
            {% include 'bonuspoint_selector.html' with name='language' title='Language' %}
          </div>
          <div class="minuspoints">
            <h3>Minus Points</h3>
            {% include 'minuspoint_selector.html' with name='douchebag' title='Ickyness' %}
            {% include 'minuspoint_selector.html' with name='plagiarism' title='Plagiarism' %}
          </div>
          <button type="submit" class="submitbutton">Vote!</button>
      </form>
  </div>
</div>
{% endblock %}
